
Unity/Assembly-CSharp-Editor\.csproj

Unity/Assembly-CSharp-firstpass\.csproj

Unity/Assembly-CSharp\.csproj

Unity/Library/

Unity/Temp/

Unity/ProjectSettings/

Unity/obj/

Unity/Assembly-CSharp-Editor-firstpass\.csproj

Unity/Unity\.Editor\.Plugins\.csproj

Unity/Unity\.Editor\.csproj

Unity/Unity\.Plugins\.csproj

Unity/Unity\.csproj

Unity/Unity\.sln

Unity/Unity1\.sln

Unity/Hotfix/obj/

Server/
